.block-language-dataview .task-list-item {
	--checkbox-radius: 50%; 
	--checkbox-size: var(--font-text-size);
    --checkbox-marker-color: var(--background-primary);
    --checkbox-color: var(--interactive-accent);
    --checkbox-color-hover: var(--interactive-accent-hover);
    --checkbox-border-color: var(--text-faint);
    --checkbox-border-color-hover: var(--text-muted);
    --checklist-done-decoration: line-through;
    --checklist-done-color: var(--text-muted);
}
