.dataview.inline-field>.inline-field-key::after {
	content: ":";
    padding: 2px;
}

.task-list-item .dataview[class*="inline-field"] {
    background-color: transparent;
    --checkbox-radius: 50%;
}

ul li.task-list-item[data-task="x"], ul li.task-list-item[data-task="X"] {
    text-decoration: none;
}


.task-list-item .dataview.inline-field {
    background-color: rgba(168, 130, 255, 0.25);
    border-radius: 8px;
    color: #dbdada;
    margin: 6px;
    font-size: 10px;
    text-decoration: none;
}

.dataview.inline-field-value {
    padding-left: 0;
}

.dataview.inline-field-key {
    padding-right: 0;
} 



