.dataview.inline-field>.inline-field-key::after {
	content: "|";
    padding: 4px;
}

.task-list-item .dataview[class*="inline-field"] {
	font-size: 10px;
    background-color: transparent;
    color: grey;
}

ul li.task-list-item[data-task="x"], ul li.task-list-item[data-task="X"] {
    text-decoration: none;
}

.dataview.inline-field-value {
    padding-left: 0;
}

.dataview.inline-field-key {
    padding-right: 0;
}