/* Modifies the size of the small-text that appears in tables and tasks (when using group by) */
.dataview.small-text {
    font-size: 10px;
    margin-left: 6px;
    border-radius: 8px;
    padding: 1px 3px;
    background: var(--color-accent);
    color: #fafafa;
}

/* Removes default parentheses from small-text */
.dataview.small-text::before,
.dataview.small-text::after {
    display: none;
}
