/* Modifies the default value of Obsidian's CSS variables */
table.dataview {
	--table-header-background: #19191d;
	--table-header-background-hover: #19191d;
	--table-header-color: #dadada;
	--table-text-color: #939393;
    --table-text-size: 17px;
	--table-background: #25252b;
    --table-row-background-hover: #2e2e36; /* Hover */
	--table-row-alt-background: #25252b;
    --table-row-alt-background-hover: #2e2e36; /* Hover*/
}

/* Modifies the width and maximum width of the table */
.view-content .markdown-reading-view .markdown-preview-view .markdown-preview-section div table.dataview {
	max-width: 100%;
	width: 100%;
}

/* Modifies the font size, text alignment, padding and border of the table header */
table.dataview thead tr th {
	text-align: center;
	border: none;
	padding: 14px 0;
    font-size: 18px;
}

/* Modifies the color, size, and weight of the small-text inside the table */
table.dataview thead tr th span.small-text {
    font-size: 14px;
    color: #dadada;
    font-weight: 400;
}

/* Modifies the padding and alignment of text inside the table */
.view-content .markdown-reading-view .markdown-preview-view .markdown-preview-section div table.dataview tbody tr td {
	padding: 10px 0;
	text-align: center;
}

/* Modifies  the font color when hovering inside the table*/
table.dataview tbody tr:hover td {
	color: var(--interactive-accent-hover);
}

/* Modifies  the color of internal links inside the table*/
table.dataview tbody tr td .internal-link {
	color: var(--interactive-accent);
}

/* Modifies  hover color of internal links inside the table*/
table.dataview tbody tr:hover td .internal-link {
	color: var(--interactive-accent-hover);
}