.dataview-container h4 {
	font-size: 20px;
}

.block-language-dataview .dataview-container h4  a {
	text-decoration: none;
}

.dataview-container h4 span .internal-link {
	color: var(--interactive-accent);
    letter-spacing: 2.5px;
    
}

.dataview-container h4 span .internal-link:hover {
    color: var(--interactive-accent-hover);
}
